@charset 'utf-8'
@import '//at.alicdn.com/t/font_3160688_r7khufm79oq.css'

// ====================================================================== 变量
$main-color = #FFD121
$err-color = #F06E32
$red = #FF4C21
$blue = #1890ff
$green = #19be6b
$black = #161718
$dgray = #5B5C5D
$gray = #A2A2A3
$lgray = #ccc

$bgcolor = #f5f5f5
$box-shadow = 0 0 30px rgba(0, 0, 0, .15)

// 美化滚动条
scrollbar(color = #E9E9E9)
  &::-webkit-scrollbar
    height 10px
    width 10px
    background #FAFAFA
  &::-webkit-scrollbar-thumb
    background color
    border-radius 5px