// ====================================================================== 变量
$main-color = #FFD121
$err-color = #F06E32
$red = #FF4C21
$blue = #1890ff
$green = #19be6b
$black = #161718
$dgray = #5B5C5D
$gray = #A2A2A3
$lgray = #ccc

// 美化滚动条
scrollbar(color = #E9E9E9)
  &::-webkit-scrollbar
    height 10px
    width 10px
    background #FAFAFA
  &::-webkit-scrollbar-thumb
    background color
    border-radius 5px

// 单行省略号
no-wrap()
  white-space nowrap
  overflow hidden
  text-overflow ellipsis

// 多行省略号
multi-nowrap($col)
  display -webkit-box
  -webkit-box-orient vertical
  -webkit-line-clamp $col
  overflow hidden